
.wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .typing-demo {
    width: 42ch;
    animation: typing 1.8s steps(25), blink .2s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    font-family: monospace;
    font-size: 2em;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }

 @media (max-width: 480px) {
    .typing-demo {
      font-size: 1em;
    }
  }

  @media (max-width: 1024px) {
    .typing-demo {
      font-size: 1em;
    }
  }

